:root {
  --main-bg: #DEDAA4;
  --accent-gold: #C2BD67;
  --soft-bg: #DBD6A1;
  --text-main: #4E491B;
  --accent-green: #96962D;
  --cream-bg: #FDFBF5;
}

/* src/index.css – globalne style */
body {
  min-height: 100vh;
  background: url("./assets/pagebackground.png") no-repeat center center;
  background-size: cover;
  background-attachment: fixed; /* tło nie przewija się */
}

